### Creating Dataframe

In [1]:
import pandas as pd

examinee = {"name": ["Anastasia", "Dima", "Katherine", "James", "Emily", "Michael", "Matthew",
"Laura", "Kevin", "Jonas"], "scores": [12.5, 9, 16.5, 2.3, 9, 20, 14.5, 4.5, 8, 19], 
            "attempts": [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
"qualified": ["yes", "no", "yes", "no", "no", "yes", "yes", "no", "no", "yes"]}

exam = pd.DataFrame(examinee)

### Printing Attempts Column

In [2]:
exam.attempts

0    1
1    3
2    2
3    3
4    2
5    3
6    1
7    1
8    2
9    1
Name: attempts, dtype: int64

### Converting the Qualified Column

In [3]:
replace = {"yes" : 1 , 'no' : 0}
update = exam.replace({"qualified" : replace})

print(update)

   attempts       name  qualified  scores
0         1  Anastasia          1    12.5
1         3       Dima          0     9.0
2         2  Katherine          1    16.5
3         3      James          0     2.3
4         2      Emily          0     9.0
5         3    Michael          1    20.0
6         1    Matthew          1    14.5
7         1      Laura          0     4.5
8         2      Kevin          0     8.0
9         1      Jonas          1    19.0